{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
    <div class="clearfix">
        <img src="/bile.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">



        <p>
        <h2><b>How bile duct cancer is treated</b></h2>
        In cancer care, different types of doctors often work together to create a patient’s overall treatment plan that
        combines different types of treatments. This is called a multidisciplinary team. Cancer care teams include a
        variety of other health care professionals, such as physician assistants, nurse practitioners, oncology nurses,
        social workers, pharmacists, counselors, dietitians, and others.

        The common types of treatments used for bile duct cancer are described below. Your care plan also includes
        treatment for symptoms and side effects, an important part of cancer care.

        <h3><b>Treatment options and recommendations depend on several factors, including:</b></h3>
        <ul>
            <li>
                The type and stage of cancer
            </li>
            <li>
                Possible side effects
            </li>
            <li>
                The person’s preferences and overall health
            </li>
        </ul>

        <h3><b>Types of Medication</b></h3>
        <ul>
            <li>
                Chemotherapy
            </li>
            <li>
                Targeted therapy
            </li>
            <li>
                Immunotherapy
            </li>
        </ul>

        </p>


    </div>
</div>










<img src="/test.png" alt="Paris" class="center ">


{% endblock %}