{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/bile.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <h2><b>Bile Duct Cancer (Cholangiocarcinoma): Introduction</b></h2>
    <b>About the bile duct</b>
    The bile duct is a 4-inch- to 5-inch-long tube that connects the liver and gallbladder to the small intestine. The bile duct allows bile to flow into the small intestine. Bile is a liquid that is made in the liver and stored in the gallbladder. It helps break down fats found in foods. It also helps the body get rid of the waste material that is filtered out of the bloodstream by the liver.

    The bile duct starts in the liver. Inside the liver, smaller tubes (or intrahepatic bile ducts), like small blood vessels, drain bile from the cells in the liver into larger and larger branches. These branches end in a tube called the common bile duct. The end of the bile duct empties into the small intestine.

    The gallbladder is an organ that holds bile until food reaches the intestines. It is attached to the common bile duct by a small duct, called the cystic duct. This attachment is located about one-third of the way down the bile duct from the liver.
    </p>
  
    <p>
        <h3><b>Types of bile duct cancer</b></h3>
        Cancer can occur in any part of the bile duct. Doctors identify the type of bile duct cancer by the location of the tumor in the body:

        <h3><b>Extrahepatic cholangiocarcinoma.</b></h3> <br>  
        part of the bile duct that is located outside of the liver is called "extrahepatic." This location is where bile duct cancer is most commonly found. It tends to be the most treatable form of the disease.<br>

        <h3><b>Hilar cholangiocarcinoma.</b></h3> <br> 
        Another relatively common site for bile duct cancer is the point where the right and left hepatic ducts join. A tumor that starts in this area is also sometimes called a Klatskin’s tumor.<br>
        

        <h3><b>Intrahepatic cholangiocarcinoma.</b></h3> <br> 
        About 5% to 10% of bile duct cancers are "intrahepatic." These are located inside the liver.
                
    </p>
  
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}