{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/bile.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <b>Bile Duct Cancer (Cholangiocarcinoma): Introduction</b>
    <b>About the bile duct</b>
    The bile duct is a 4-inch- to 5-inch-long tube that connects the liver and gallbladder to the small intestine. The bile duct allows bile to flow into the small intestine. Bile is a liquid that is made in the liver and stored in the gallbladder. It helps break down fats found in foods. It also helps the body get rid of the waste material that is filtered out of the bloodstream by the liver.

    The bile duct starts in the liver. Inside the liver, smaller tubes (or intrahepatic bile ducts), like small blood vessels, drain bile from the cells in the liver into larger and larger branches. These branches end in a tube called the common bile duct. The end of the bile duct empties into the small intestine.

    The gallbladder is an organ that holds bile until food reaches the intestines. It is attached to the common bile duct by a small duct, called the cystic duct. This attachment is located about one-third of the way down the bile duct from the liver.
    </p>
  
  
    <p>
       <h2> <b>Bile Duct Cancer (Cholangiocarcinoma): Symptoms and Signs</b> </h2>
        People with bile duct cancer may experience the following symptoms or signs, usually because the tumor is blocking the bile duct. A symptom is something that only the person experiencing it can identify and describe, such as fatigue, nausea, or pain. A sign is something that other people can identify and measure, such as a fever, rash, or an elevated pulse. Together, signs and symptoms can help describe a medical problem. Sometimes, people with bile duct cancer do not have any of the signs and symptoms described below. Or, the cause of a symptom or sign may be a medical condition that is not cancer.
            <br>
        <h2><b>Jaundice</b></h2>
        Jaundice is a common symptom of bile duct cancer. When the bile duct is blocked, the liver cannot excrete bile. This makes bile back up into the bloodstream and can cause jaundice. However, it's important to note that a blockage is not always a cancerous tumor. A gallstone or scar tissue can also block the bile duct.

        Jaundice causes the skin and the whites of the eyes to turn yellow. It is caused by high levels of bilirubin in the blood. Bilirubin is dark yellow, and bile contains bilirubin. Bilirubin can cause the skin and whites of the eyes to turn yellow if there are higher levels of it in the bloodstream. It can also make a person’s urine a dark color and make bowel movements pale.

        Jaundice is also a common symptom for many other medical conditions. Your doctor may need to do several diagnostic tests to find the exact cause of the jaundice. (See the Diagnosis section for a complete list.) Many diseases associated with jaundice are not serious or life-threatening, and bile duct cancer is a less common cause.

    <ul>
        <h3><b>Other symptoms of bile duct cancer:</b></h3>
        <li> Itching, caused by a buildup of bile salts and bilirubin in the body that collects in the skin</li>
        
        <li> Unexplained weight loss </li>
        
        <li> Loss of appetite</li>
        
        <li> Abdominal pain. Early bile duct cancer usually does not cause pain, but a person may experience pain if the cancer is large or has spread. </li>
        
    </ul>
        
    If you are concerned about any changes you experience, please talk with your doctor. Your doctor will ask how long and how often you have been experiencing the symptom(s), in addition to other questions. This is to help figure out the cause of the problem, called a diagnosis.

    If bile duct cancer is diagnosed, relieving symptoms remains an important part of cancer care and treatment. This may be called "palliative care" or "supportive care." It is often started soon after diagnosis and continued throughout treatment. Be sure to talk with your health care team about the symptoms you experience, including any new symptoms or a change in symptoms.
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}