{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/bile.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <h3><b>Risk Factor And Preventions</b></h3>
        <h3><b>Risk:-</b></h3>
        <ul>
            <li>
                Primary Sclerosing Cholangitis (PSC). This is a rare inflammatory condition of the bile ducts. No one knows what causes it. See the Statistics section for more information.
            </li>
            <li>
                Choledochal cyst. This is an abnormality that a person has from birth. It causes swelling on the part of the bile duct outside the liver.
            </li>
            <li>
                Caroli syndrome. This is an abnormality of the small bile ducts that a person has in the liver from birth. This syndrome increases the risk of infection and stones, like gallstones, forming in the liver.
            </li>
            <li>
                Liver flukes. Liver flukes are parasites that can infect the bile duct. 
            </li>
            <li>
                Age. Older adults are more likely to develop bile duct cancer.
            </li>
            <li>
                Certain chemicals. Dioxins, nitrosamines, and polychlorinated biphenyls (PCBs) may cause bile duct cancer. In particular, people who work in rubber plants and automotive industries may be exposed more often to these chemicals.
            </li>
        </ul>
    </p>
    <p>

        <h3><b>Preventions:-</b></h3>
        <ul>
            <li>
                Avoid coming in contact with hazardous chemicals. Thorium dioxide, a chemical once used in x-ray examinations, is associated with a high risk of developing bile duct cancer. Its use has been banned. However, other hazardous chemicals are still available or found in the environment that can increase the risk of developing bile duct cancer.
            </li>
            <li>
                Avoid drinking too much alcohol, which can lead to cirrhosis.
            </li>
            <li>
                If you travel to parts of the world where liver flukes are common, drink only purified water and eat only foods that have been thoroughly cooked.
            </li>
        </ul>
    </p>
  


  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}