{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/bile.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
    <h3><b>How bile duct cancer is staged</b></h3>
    <b>The TNM staging classification used to stage other types of cancers into stages I through IV (one through four) is medically complex for bile duct cancer. The headings listed below provide a simpler way to describe the stages of bile duct cancer. By classifying each cancer into 1 of these categories, the health care team can then plan the best treatment strategy.</b>
    <ul>
        <li>
            Local. This type of bile duct cancer is located only within the bile duct and can be removed surgically. There is no evidence of spread to areas outside of the bile duct.
        </li>
        <li>
            Locally advanced. This type of bile duct cancer is located only in the area around the bile duct, but it does affect nearby organs, arteries, or veins. There is no evidence of spread to distant parts of the body.
        </li>
        <li>
            Metastatic. The tumor has spread beyond the area of the bile duct to reach distant parts of the body. It is unlikely that surgery can remove all of the cancer.
        </li>
        <li>
            Recurrent. Recurrent cancer is cancer that has come back after treatment. If there is a recurrence, the cancer may need to be staged again (called re-staging) using the system above. It is very rare for recurrent tumors to be re-staged as “local.”
        </li>
    </ul>
    </p>
  
    
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}