{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/bladder.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <b>Bladder Cancer: Introduction</b>
        About the bladder, renal pelvis, ureter, and urethra (urinary tract)
        The bladder is a hollow organ in the pelvis that stores urine before it leaves the body during urination. This function makes the bladder an important part of the urinary tract. The urinary tract is also made up of the kidneys, ureters, and urethra. The renal pelvis is a funnel-like part of the kidney that collects urine and sends it into the ureter. The ureter is a tube that runs from each kidney into the bladder. The urethra is the tube that carries urine out of the body. The prostate gland is also part of the urinary tract.
        
        The bladder, like other parts of the urinary tract, is lined with a layer of cells called the urothelium. This layer of cells is separated from the bladder wall muscles, called the muscularis propria, by a thin, fibrous band called the lamina propria.
        
        Bladder cancer begins when healthy cells in the bladder lining—most commonly urothelial cells—change and grow out of control, forming a mass called a tumor. Urothelial cells also line the renal pelvis and ureters and urethra. Cancer that develops in the renal pelvis and ureters is also considered a type of urothelial cancer and is often called upper tract urothelial cancer. In most cases, it is treated in much the same way as bladder cancer and is described in this guide. A tumor can be cancerous or benign. A cancerous tumor is malignant, meaning it can grow and spread to other parts of the body. A benign tumor means the tumor can grow but will not spread. Benign bladder tumors are very rare.
    </p>
  
    <p>
        <b>Types of bladder cancer:</b>
        The type of bladder cancer depends on how the tumor’s cells look under the microscope. The 3 main types of bladder cancer are:
        
        Urothelial carcinoma. Urothelial carcinoma (or UCC) accounts for about 90% of all bladder cancers. It also accounts for 10% to 15% of kidney cancers diagnosed in adults. It begins in the urothelial cells that line the urinary tract. Urothelial carcinoma used to be called transitional cell carcinoma or TCC.
        
        Squamous cell carcinoma. Squamous cells develop in the bladder lining in response to irritation and inflammation. Over time, these cells may become cancerous. Squamous cell carcinoma accounts for about 4% of all bladder cancers.
        
        Adenocarcinoma. This type accounts for about 2% of all bladder cancers and develops from glandular cells.
        
        
    </p>
  
    <p>
        <b>Bladder Cancer: Symptoms and Signs</b>
        People with bladder cancer may experience the following symptoms or signs. Symptoms are changes that you can feel in your body. Signs are changes in something measured, like by taking your blood pressure or doing a lab test. Together, symptoms and signs can help describe a medical problem. Sometimes, people with bladder cancer do not have any of the symptoms and signs described below. Or, the cause of a symptom or sign may be a medical condition that is not cancer.
    <ul>
        <li> Blood or blood clots in the urine </li>
        
        <li> Pain or burning sensation during urination </li>
        
        <li> Frequent urination </li>
        
        <li> Feeling the need to urinate many times throughout the night </li>
        
        <li> Feeling the need to urinate, but not being able to pass urine </li>
        
        <li> Lower back pain on 1 side of the body </li>
    </ul>
        
        Most often, bladder cancer is diagnosed after a person tells their doctor about blood in the urine, also called hematuria. "Gross hematuria" is a medical term that means that enough blood is present in the urine that the patient can see it. It is also possible that there are small amounts of blood in the urine that cannot be seen. This is called "microscopic hematuria," and it can only be found with a urine test.
        
        General urine tests are not used to make a specific diagnosis of bladder cancer because hematuria can be a sign of several other conditions that are not cancer, such as an infection or kidney stones. One type of urine test that can find out whether there is cancer is cytology, a test in which the urine is studied under a microscope to look for cancer cells (see Diagnosis for more information).
        
        Sometimes when the first symptoms of bladder cancer appear, the cancer has already spread to another part of the body. In this situation, the symptoms depend on where the cancer has spread. For example, cancer that has spread to the lungs may cause a cough or shortness of breath, spread to the liver may cause abdominal pain or jaundice (yellowing of the skin and whites of the eyes), and spread to the bone may cause bone pain or a fracture (broken bone). Other symptoms of advanced bladder cancer may include pain in the back or pelvis, unexplained appetite loss, and weight loss.
        
        If you are concerned about any changes you experience, please talk with your doctor. Your doctor will ask how long and how often you’ve been experiencing the symptom(s), in addition to other questions. This is to help figure out the cause of the problem, called a diagnosis.
        
        If cancer is diagnosed, relieving symptoms remains an important part of cancer care and treatment. Managing symptoms may also be called "palliative care" or "supportive care." It is often started soon after diagnosis and continued throughout treatment. Be sure to talk with your health care team about symptoms you experience, including any new symptoms or a change in symptoms.
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}