{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/breast.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
    <h3><b>How Breast cancer is staged</b></h3>
    <b>TNM staging system
        The most common tool that doctors use to describe the stage is the TNM system. Doctors use the results from diagnostic tests and scans to answer these questions:
        
        </b>
    <ul>
        <li>
            Tumor (T): How large is the primary tumor in the breast? What are its biomarkers?
        </li>
        <li>
            Node (N): Has the tumor spread to the lymph nodes? If so, where, what size, and how many?


        </li>
        <li>
            Metastasis (M): Has the cancer spread to other parts of the body?


        </li>
        
    </ul>
    </p>
  
    
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}