{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/breast.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
  
    <p>
        <h3><b>Statistic of breast cancer</b></h3>
        Worldwide, female breast cancer has now surpassed lung cancer as the most commonly diagnosed cancer. An estimated 2,261,419 new cases were diagnosed in women across the world in 2020.

        More women in the United States are diagnosed with breast cancer than any other type of cancer, besides skin cancer. The disease accounts for 1 in 3 of new female cancers annually.
        <br>
        This year, an estimated 287,850 women in the United States will be diagnosed with invasive breast cancer, and 51,400 women will be diagnosed with non-invasive (in situ) breast cancer. From the mid-2000s, invasive breast cancer in women has increased by approximately half a percent each year. An estimated 2,710 men in the United States will be diagnosed with invasive breast cancer this year.

        It is estimated that 43,780 deaths (43,250 women and 530 men) from breast cancer will occur in the United States this year. Worldwide, female breast cancer is the fifth leading cause of death. In 2020, an estimated 684,996 women across the world died from breast cancer.
        <br>
        The 5-year survival rate tells you what percent of people live at least 5 years after the cancer is found. Percent means how many out of 100. The average 5-year survival rate for women in the United States with non-metastatic invasive breast cancer is 90%. The average 10-year survival rate for women with non-metastatic invasive breast cancer is 84%.
        <br>
        If the invasive breast cancer is located only in the breast, the 5-year survival rate of women with this disease is 99%. Sixty-five percent (65%) of women with breast cancer are diagnosed with this stage. Adolescent and young adult females ages 15 to 39 in the United States are less likely to be diagnosed at an early stage of breast cancer (47% of cases in this age group) compared to women older than 65 (68% of cases in this age group). This may be because most breast cancer screening does not begin until age 40 unless a person is at a higher risk.

        If the cancer has spread to the regional lymph nodes, the 5-year survival rate is 86%. If the cancer has spread to a distant part of the body, the 5-year survival rate is 29%. The survival rate for breast cancer is 10% lower in Black women compared to White women.

        Six percent (6%) of women have cancer that has spread outside of the breast and regional lymph nodes at the time they are first diagnosed with breast cancer. This is called "de novo" metastatic breast cancer. Even if the cancer is found at a more advanced stage, new treatments help many people with breast cancer maintain a good quality of life for some time. 
                
    </p>
  
   
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}