{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/breast.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <h3><b>Risk Factor And Preventions</b></h3>
        <h3><b>Risk:-</b></h3>
        <ul>
            <li>
                Getting older. The risk for breast cancer increases with age. Most breast cancers are diagnosed after age 50.
            </li>
            <li>
                enetic mutations. Women who have inherited changes (mutations) to certain genes, such as BRCA1 and BRCA2, are at higher risk of breast and ovarian cancer.
            </li>
            <li>
                Reproductive history. Starting menstrual periods before age 12 and starting menopause after age 55 expose women to hormones longer, raising their risk of getting breast cancer.

            </li>
            <li>
                Having dense breasts. Dense breasts have more connective tissue than fatty tissue, which can sometimes make it hard to see tumors on a mammogram. Women with dense breasts are more likely to get breast cancer.
            </li>
            <li>
                Personal history of breast cancer or certain non-cancerous breast diseases. Women who have had breast cancer are more likely to get breast cancer a second time. Some non-cancerous breast diseases such as atypical hyperplasia or lobular carcinoma in situ are associated with a higher risk of getting breast cancer.
            </li>
            <li>
                Family history of breast or ovarian cancer. A woman’s risk for breast cancer is higher if she has a mother, sister, or daughter (first-degree relative) or multiple family members on either her mother’s or father’s side of the family who have had breast or ovarian cancer. Having a first-degree male relative with breast cancer also raises a woman’s risk.
            </li>
        </ul>
    </p>
    <p>

        <h3><b>Preventions:-</b></h3>
        <ul>
            <li>
                Lifestyle choices to lower cancer risk
One way to lower your risk of breast cancer is by getting regular physical activity. Studies suggest that 30 to 60 minutes per day of moderate- to high-intensity physical activity is associated with a lower breast cancer risk. Other ways to lower your risk include staying at a healthy weight and avoiding the use of oral contraceptive pills or hormone replacement therapy after menopause. Breastfeeding may also reduce breast cancer risk. 
            </li>
            <li>
                Surgery to lower cancer risk
When there is a BRCA1 or BRCA2 genetic mutation present, which substantially increase the risk of breast cancer, preventive removal of the breasts may be considered. This procedure is called a prophylactic mastectomy. It appears to reduce the risk of developing breast cancer by at least 90% to 95%. People with these genetic mutations should also consider the preventive removal of the ovaries and fallopian tubes, called a prophylactic salpingo-oophorectomy. This procedure can reduce the risk of developing ovarian cancer, and possibly breast cancer, by stopping the ovaries from making estrogen. When considering having these procedures, it is important to talk with your doctor about possible physical and emotional side effects.


            </li>
            <li>
                Drugs to lower cancer risk
If you have a higher than usual risk of developing breast cancer, consider talking with your doctor about drugs that may help prevent breast cancer. This approach is called "chemoprevention." For breast cancer, this is the use of hormone-blocking drugs to reduce cancer risk.

Tamoxifen (available as a generic drug). Tamoxifen is a type of drug called a selective estrogen receptor modulator (SERM). It is often used as a treatment for breast cancer for people who already have the disease. Tamoxifen blocks the effects of estrogen on tumor growth.

Tamoxifen may be an option to help lower the risk of breast cancer, specifically ER-positive breast cancer for women who are age 35 or older. Research has shown that it may also be effective to reduce the risk of breast cancer and cause minimal side effects for women with non-invasive breast cancer (also called ductal carcinoma in situ, or DCIS) or precancerous breast conditions called LCIS or atypical hyperplasia of the breast. It is not recommended for those with a history of blood clots, stroke, or who are immobilized (unable to move around) for a long time. It is also not recommended during pregnancy or if you are trying to become pregnant, or during breastfeeding. The side effects of tamoxifen may include hot flashes, vaginal discharge, sexual side effects, mood changes, and a higher risk of developing uterine cancer, blood clots, and stroke.

Raloxifene (available as a generic drug). Raloxifene is also a SERM. It is often used to prevent osteoporosis (thinning of the bones) after menopause.

Raloxifene may be an option after the age of 35 when there is a higher risk of breast cancer and after menopause. Raloxifene can be used for longer than 5 years and may reduce the risk of bone loss in addition to lowering breast cancer risk. It is not recommended for women who have not been through menopause or who have a history of blood clots, stroke, or are immobilized for a long time.

The side effects of raloxifene may include hot flashes, leg cramps, swelling of the legs and arms, weight gain, stroke, blood clots, vaginal dryness, and pain during sexual intercourse. Women taking raloxifene are less likely to develop blood clots, uterine problems, and cataracts than people taking tamoxifen.

Aromatase inhibitors (AIs). AIs reduce the amount of estrogen in the body by blocking estrogen production. There are 3 AIs that may be options for lowering breast cancer risk after menopause when there is a higher risk of developing breast cancer: exemestane (Aromasin), anastrozole (Arimidex), and letrozole (Femara). While they are only approved by the U.S. Food and Drug Administration (FDA) for use in breast cancer treatment and not in the risk-reduction setting, large, randomized clinical trials have shown that these drugs are effective in reducing the risk of developing breast cancer. Talk with your doctor about whether an AI might be right for you. AIs can be used as an alternative to tamoxifen for women who have a higher risk of breast cancer and who have been through menopause. AIs are not used to treat women who have not been through menopause and are not usually recommended for those with osteoporosis.

The side effects of AIs may include hot flashes, fatigue, difficulty sleeping, diarrhea, joint and muscle pain, vaginal dryness, and bone loss.
            </li>
        </ul>
    </p>
  


  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}