{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/breast.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <b>Breast Cancer: Introduction</b>
        Cancer begins when healthy cells in the breast change and grow out of control, forming a mass or sheet of cells called a tumor. A tumor can be cancerous or benign. A cancerous tumor is malignant, meaning it can grow and spread to other parts of the body. A benign tumor means the tumor can grow but has not spread.

This guide covers both non-invasive (stage 0) as well as early-stage and locally advanced invasive breast cancer, which includes stages I, II, and III. The stage of breast cancer describes how much the cancer has grown, and if or where it has spread.

Although breast cancer most commonly spreads to nearby lymph nodes, in which case the breast cancer is still considered a local or regional disease, it can also spread further through the body through the blood vessels and/or lymph nodes to areas such as the bones, lungs, liver, and brain. This is called metastatic or stage IV breast cancer and is the most advanced stage of the disease. However, the involvement of nearby lymph nodes alone is generally not stage IV breast cancer. Learn more about metastatic breast cancer in a separate guide on this website.

If breast cancer comes back after initial treatment, it can recur locally, meaning in the same breast and/or regional lymph nodes. It can also recur elsewhere in the body, called a distant recurrence or metastatic recurrence.
    </p>
  
    <p>
        <b>Types of breast cancer:</b>
        Breast cancer can be invasive or non-invasive. Invasive breast cancer is cancer that spreads into surrounding tissues and/or distant organs. Non-invasive breast cancer does not go beyond the milk ducts or lobules in the breast. There are multiple types of breast cancers, which are classified based on how they look under a microscope.

<b>Ductal carcinoma.</b> This is the most common type of breast cancer.

<b>Ductal carcinoma in situ (DCIS).</b> This is a non-invasive cancer (stage 0) that is located only in the duct and has not spread outside the duct.

<b>Invasive or infiltrating ductal carcinoma.</b> This is cancer that has spread outside of the ducts or lobules.

Invasive lobular carcinoma. This is a less commonly occurring type of breast cancer that has spread outside of the ducts or lobules.
        
        
    </p>
  
    <p>
        <b>Breast Cancer: Symptoms and Signs</b>
        Many people with breast cancer do not have any body changes (signs) or symptoms when they are first diagnosed with breast cancer. Symptoms are changes that you can feel in your body. Signs are changes in something measured, like by taking your blood pressure or doing a lab test. Together, symptoms and signs can help describe a medical problem.

        However, some people do have symptoms or signs when they are first diagnosed with breast cancer. If a person develops one or more of the following symptoms or signs, they should discuss them with a doctor. Many times, the cause of a symptom or sign may be a medical condition that is not cancer.
    <ul>
        <li> A lump that feels like a hard knot or a thickening in the breast or under the arm. It is important to feel the same area in the other breast to make sure the change is not a part of healthy breast tissue in that area.

        </li>
        
        <li> Change in the size or shape of the breast </li>
        
        <li> Nipple discharge that occurs suddenly, is bloody, or occurs in only 1 breast </li>
        
        <li> Physical changes, such as a nipple turned inward or a sore located in the nipple area </li>
        
        <li> Skin irritation or changes, such as puckering, dimpling, scaliness, or new creasese </li>
        
        <li> A warm, red, swollen breast with or without a rash with dimpling resembling the skin of an orange, called “peau d'orange”</li>
    </ul>
        
    If you are concerned about any changes you experience, including those listed above as well as other concerning changes that are not, please talk with your doctor. Your doctor will ask how long and how often you have been experiencing the symptom(s), in addition to other questions. This is to help figure out the cause of the problem, called a diagnosis.

    If cancer is diagnosed, relieving symptoms is an important part of cancer care and treatment. Managing symptoms may also be called "palliative care" or "supportive care." It is often started soon after diagnosis and continued throughout treatment. Be sure to talk with your health care team about the symptoms you experience, including any new symptoms or a change in symptoms.
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}