{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/breast.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  

    <p>
       <h2> <b>Breast Cancer : Symptoms and Signs</b> </h2>
        People with bile duct cancer may experience the following symptoms or signs, usually because the tumor is blocking the bile duct. A symptom is something that only the person experiencing it can identify and describe, such as fatigue, nausea, or pain. A sign is something that other people can identify and measure, such as a fever, rash, or an elevated pulse. Together, signs and symptoms can help describe a medical problem. Sometimes, people with bile duct cancer do not have any of the signs and symptoms described below. Or, the cause of a symptom or sign may be a medical condition that is not cancer.
            <br>
        

    <ul>
        <h3><b>Other symptoms of bile duct cancer:</b></h3>
        <li> A lump that feels like a hard knot or a thickening in the breast or under the arm. It is important to feel the same area in the other breast to make sure the change is not a part of healthy breast tissue in that area.</li>
        
        <li> Change in the size or shape of the breast

        </li>
        
        <li> Nipple discharge that occurs suddenly, is bloody, or occurs in only 1 breast</li>
        
        <li> Physical changes, such as a nipple turned inward or a sore located in the nipple area

        </li>
        
        <li>
            Skin irritation or changes, such as puckering, dimpling, scaliness, or new creases


        </li>

        <li>
            A warm, red, swollen breast with or without a rash with dimpling resembling the skin of an orange, called “peau d'orange”
        </li>
    </ul>
        
    
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}