{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/liv.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <b>Liver Cancer: Introduction</b>
        Primary liver cancer is a malignant tumour that begins in the liver. There are different types: 

hepatocellular carcinoma (HCC) or hepatoma, is the most common type of primary liver cancer and it starts in the main cell type in the liver, the hepatocytes 
cholangiocarcinoma, or bile duct cancer, starts in the cells lining the bile ducts (which connect the liver to the bowel and gall bladder) 
angiosarcoma, which starts in the blood vessels. This is a rare type of liver cancer that is more likely to occur in people over 70. 
Secondary cancer in the liver is cancer that started in another part of the body but has spread to the liver. If you have secondary cancer in the liver, it may be useful to read information about the primary cancer in conjunction with this information or about cancer of unknown primary. 

A secondary cancer is named after the primary site where it began, for example bowel cancer with liver secondaries. In this information, we use the term "secondary cancer in the liver" to refer to any cancer type that has spread to the liver. 

It is estimated that 2832 people will be diagnosed with liver cancer in Australia in 2021. Men are three times as likely to be diagnosed as women. 

The five year survival rate for liver cancer is 19%. 
    </p>
  
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}