{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/liv.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
    <h3><b>How liver cancer is diagnosed</b></h3>
    <b>There are many tests used for diagnosing breast cancer. Not all tests described here will be used for every person. Your doctor may consider these factors when choosing a diagnostic test:</b>
    <ul>
        <li>
            The type of cancer suspected
        </li>
        <li>
            Your signs and symptom
        </li>
        <li>
            Your age and general health
        </li>
        <li>
            The results of earlier medical tests
        </li>
    </ul>
    </p>
  
    
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}