{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/liv.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <h3><b>Risk Factor And Preventions</b></h3>
        <h3><b>Risk:-</b></h3>
        <ul>
            <li>
                unprotected sex
            </li>
            <li>
                sharing unsterilized needles
            </li>
            <li>
                a blood transfusion, if received before 1992 (after that year, donated blood has been screened for the virus)

            </li>
            <li>
                Nonalcoholic fatty liver disease (NAFLD): This disease is also called nonalcoholic steatohepatitis. It causes a type of fat called triglycerides to gather in the liver, which can lead to damage. NAFLD can cause cirrhosis (scarring of the liver) and liver failure. It commonly occurs in people who are overweight or obese, or who have type 2 diabetes or a metabolic syndrome characterized by high blood sugar, extra body fat around the waist, and abnormal cholesterol levels. With obesity on the rise in the United States, NAFLD is increasingly a risk factor for liver cancer.
            </li>
            <li>
                Cirrhosis of the liver made worse by alcohol use: Drinking alcohol greatly increases the risk of cancer in people infected with the hepatitis B or C virus, so it’s important to avoid drinking if you have viral hepatitis.
            </li>
            <li>
                Too much intake of male hormones or anabolic steroids: These hormones, which build muscle, are considered a risk factor.
            </li>
        </ul>
    </p>
    <p>

        <h3><b>Preventions:-</b></h3>
        <ul>
            <li>
                Getting the hepatitis B vaccine: Preventing HBV infection (by being vaccinated for HBV as a newborn) has been shown to lower the risk of liver cancer in children. It is not yet known if being vaccinated lowers the risk of liver cancer in adults.
            </li>
            <li>
                Getting treatment for chronic hepatitis B infection: Treatment options for people with chronic HBV infection include interferon and nucleos(t)ide analog therapy. These treatments may reduce the risk of developing liver cancer.


            </li>
            <li>
                Reducing exposure to aflatoxin B1: Replacing foods that contain high amounts of aflatoxin B1 with foods that contain a much lower level of the poison can reduce the risk of liver cancer.
            </li>
        </ul>
    </p>
  


  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}