{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/liv.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
  
    <p>
        <h3><b>Statistic of liver cancer</b></h3>
        For the 44% of people who are diagnosed at an early stage, the 5-year survival rate is 31%.
        <br>
        If liver cancer has spread to surrounding tissues or organs and/or the regional lymph nodes, the 5-year survival rate is 11%.
        <br>
        If the cancer has spread to a distant part of the body, the 5-year survival rate is 2%.

                
    </p>
  
   
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}