{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/liv.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
   
  
  
    <p>
       <h2> <b>Liver Cancer : Symptoms and Signs</b> </h2>
       Most people don't have signs and symptoms in the early stages of primary liver cancer. When signs and symptoms do appear, they may include:

    <ul>
        <h3><b>Other symptoms of bile duct cancer:</b></h3>
        <li> Itching, caused by a buildup of bile salts and bilirubin in the body that collects in the skin</li>
        
        <li> Unexplained weight loss </li>
        
        <li> Loss of appetite</li>
        
        <li> Abdominal pain. Early bile duct cancer usually does not cause pain, but a person may experience pain if the cancer is large or has spread. </li>
        
    </ul>
        
    
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}