{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/liv.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
  
    <p>
        <h3><b>Types of Liver cancer</b></h3>
        There are different types: 

        <h3><b>hepatocellular carcinoma (HCC) or hepatoma</b></h3> <br>  
        is the most common type of primary liver cancer and it starts in the main cell type in the liver, the hepatocytes <br>


        <h3><b>cholangiocarcinoma,</b></h3> <br> 
        bile duct cancer, starts in the cells lining the bile ducts (which connect the liver to the bowel and gall bladder) 
<br>
        

        <h3><b>angiosarcoma</b></h3> <br> 
        which starts in the blood vessels. This is a rare type of liver cancer that is more likely to occur in people over 70. <br>
           

    </p>
  
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}