{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/lung.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <b>Lung Cancer: Introduction</b>
        Lung cancer affects more than 200,000 people in the United States and an estimated 2.3 million people around the world each year. Although cigarette smoking is the main cause, anyone can develop lung cancer. Lung cancer is highly treatable, no matter the size, location, whether the cancer has spread, and how far it has spread.

        Because lung cancer has been associated with smoking, patients may feel that they won’t receive much support or help because they believe that others will think that their behavior caused the disease. The truth is that most smokers do not develop lung cancer, and not all people diagnosed with lung cancer have been tobacco smokers. Lung cancer is a disease that can affect anyone. In fact, most people who get lung cancer today have either stopped smoking years earlier or never smoked.
    </p>
  
    <p>
        <b>Types of Lung cancer:</b>
        Lung Nodules
Lung nodules are small masses of tissue. They may be benign, precancerous or metastatic tumors that have spread from other parts of the body. Generally, a larger nodule is more likely to be cancerous than a smaller one.

Lung nodules are often found when a patient is being tested for unrelated symptoms, such as abdominal pain or an injury.

Non-Small Cell Lung Cancer
Non-small cell lung cancer is the most common type of lung cancer. It grows and spreads more slowly than small cell lung cancer. The three main kinds of non-small cell lung cancer are named for the type of cells in the tumor:

Adenocarcinoma is the most common type of lung cancer in the United States and usually begins along the outer sections of the lungs. It is also the most common type of lung cancer in people who have never smoked.

Large cell carcinomas are a group of cancers with large, abnormal-looking cells. These tumors may begin anywhere in the lungs and tend to grow quickly.

Squamous cell carcinoma is also called epidermoid carcinoma. It often begins in the bronchi near the middle of the lungs.

For non-small cell lung cancers that have not spread beyond the lung, surgery is used to remove the cancer. Surgery may also be used in combination with radiation therapy and chemotherapy in cancers that are more advanced. These treatments can also be given prior to surgery to shrink tumors and prevent the spread of cancer cells through the blood stream. This is called neoadjuvant therapy.

Small Cell Lung Cancer
Almost all cases of small cell lung cancer are due to cigarette smoking. It is a fast-growing cancer that spreads much more quickly than other types of lung cancer. There are two different types of small cell lung cancer:

Small cell carcinoma (oat cell cancer; most small cell lung cancers are of the oat cell type)

Combined small cell carcinoma

Surgery is most commonly used in non-small cell lung cancers and less frequently in small cell lung cancer, which tends to spread more quickly to other parts of the body. Chemotherapy is the most common treatment for small cell lung cancer, as these medicines circulate throughout the body killing lung cancer cells that may have spread outside of the lung. Radiation therapy is frequently used in combination with chemotherapy when the tumor is confined to the lung and other areas inside of the chest. Radiation therapy may also be used to prevent or treat the development of small cell lung cancer that has spread to the brain (metastasis). In radiation therapy, precisely targeted X-rays are used to destroy localized cancer cells. Radiation therapy can be used to prevent tumor recurrence after surgery, to treat tumors in patients who are not candidates for surgery or to treat tumors causing symptoms in other parts of the body.

Mesothelioma
Mesothelioma is a rare cancer of the chest lining, most often caused by asbestos exposure. It accounts for about 5 percent of all lung cancer cases. Mesothelioma develops over a long period time, from 30 to 50 years between exposure to asbestos and getting the cancer.

Most people who develop mesothelioma worked in places where they inhaled asbestos particles.

Once mesothelioma has been diagnosed, it is staged, which tells the patient and doctors how large the tumor is and where is has progressed beyond the initial site.

Chemotherapy, radiation and surgery can all be part of the treatment for mesothelioma. Combined approaches that utilize these therapies together — particularly using chemotherapy prior to surgery, as well as new drugs that specifically target mesothelioma cells — are currently being tested.

Lung cancer specialists at Johns Hopkins use surgery, radiation, chemotherapy or all three to treat mesothelioma.

Chest Wall Tumors
Chest wall tumors are rare. Like other cancers, tumors found in the chest wall may be malignant or benign. Malignant tumors must be treated. Benign tumors will be treated depending on where they are located and the symptoms they cause. If a tumor presses against a lung so that a patient can't breathe, for example, then it must be treated.

Types of Chest Wall Tumors
Tumors found in the chest wall are also categorized by whether they are primary tumors (starting in the chest wall) or metastatic tumors (spread to the chest wall from cancer that started elsewhere, such as in the breast). All metastatic tumors are malignant. In children, most chest wall tumors are primary, while they are more often metastatic in adults. Primary tumors start in the bones or muscles located in the chest wall.

Sarcomas — tumors that start in bone or muscle tissue, or more rarely in other types of tissue — are the most common type of primary tumor found in the chest wall.
        
        
    </p>
  
    <p>
        <b>Lung Cancer: Symptoms and Signs</b>
        People with NSCLC may experience the following symptoms or signs. A symptom is something that only the person experiencing it can identify and describe, such as fatigue, nausea, or pain. A sign is something that other people can identify and measure, such as a fever, rash, or an elevated pulse. Together, signs and symptoms can describe a medical problem. Sometimes people with NSCLC do not have any of the signs and symptoms described below. Or, the cause of a symptom or sign may be a medical condition that is not cancer.

    <ul>
        <li>Fatigue</li>

        <li>Cough</li>

        <li>Shortness of breath</li>

        <li>Chest pain, if a tumor spreads to the lining of the lung or other parts of the body near the lungs</li>

        <li>Loss of appetite</li>

        <li>Coughing up phlegm or mucus</li>

        <li>Coughing up blood</li>

        <li>Unintentional weight loss</li>

        <li>Hoarseness</li>
    </ul>
        
    If you are concerned about any changes you experience, please talk with your doctor. Your doctor will ask how long and how often you’ve been experiencing the symptom(s), in addition to other questions. This is to help figure out the cause of the problem, called a diagnosis.

    For people with NSCLC who have no symptoms, the cancer may be noticed on an imaging test – such as a chest x-ray or CT scan – performed for some other reason, such as checking for heart disease. Most people with NSCLC are diagnosed when the tumor grows, takes up space, or begins to cause problems with parts of the body near the lungs. A lung tumor may also make fluid that can build up in the lung or the space around the lung or push the air out of the lungs and cause the lung to collapse. This prevents oxygen from getting in the body and carbon dioxide from leaving the body by blocking the flow of air into the lungs, or by using up the space normally required for oxygen to come in and carbon dioxide to go out of the lung.
    
    NSCLC can spread anywhere in the body through a process called metastasis. It most commonly spreads to the lymph nodes, other parts of the lungs, bones, brain, liver, and structures near the kidneys called the adrenal glands. Metastases from NSCLC can cause:
    <ul>
        <li>More breathing difficulties</li>

        <li>Bone pain</li>

        <li>Abdominal or back pain</li>

        <li>Headache</li>

        <li>Weakness</li>

        <li>Seizures</li>

        <li>Speech difficulties</li>

    </ul>
    
    </p>

    <p>

        Symptoms such as fatigue, feeling out-of-sorts or unwell, and loss of appetite are not necessarily caused by metastases. Cancer anywhere in the body can cause a person to feel unwell in a general way. Loss of appetite can cause weight loss and muscle loss. Fatigue and weakness can further worsen a person’s ability to breathe. Muscle loss also contributes to weakness and loss of mobility.

If cancer is diagnosed, relieving symptoms remains an important part of cancer care and treatment. This may be called "palliative care" or "supportive care." It is often started soon after diagnosis and continued throughout treatment. Be sure to talk with your health care team about the symptoms you experience, including any new symptoms or a change in symptoms.
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}