{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/panc.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <h3><b>Risk Factor And Preventions</b></h3>
        <h3><b>Risk:-</b></h3>
        <ul>
            <li>
                Tobacco use
Smoking is one of the most important risk factors for pancreatic cancer. The risk of getting pancreatic cancer is about twice as high among people who smoke compared to those who have never smoked. About 25% of pancreatic cancers are thought to be caused by cigarette smoking. Cigar smoking and the use of smokeless tobacco products also increase the risk. However, the risk of pancreatic cancer starts to drop once a person stops smoking .
            </li>
            <li>
                Being overweight
Being very overweight (obese) is a risk factor for pancreatic cancer. Obese people (body mass index [BMI] of 30 or more) are about 20% more likely to develop pancreatic cancer. Gaining weight as an adult can also increase risk.

Carrying extra weight around the waistline may be a risk factor even in people who are not very overweight.
            </li>
            <li>
                Diabetes
Pancreatic cancer is more common in people with diabetes. The reason for this is not known. Most of the risk is found in people with type 2 diabetes. This type of diabetes is increasing in children and adolescents as obesity in these age groups also rises. Type 2 diabetes in adults is also often related to being overweight or obese. It’s not clear if people with type 1 (juvenile) diabetes have a higher risk.


            </li>
            <li>
                Age 
            </li>
            <li>
                Gender
            </li>
            <li>
                Inherited genetic syndromes
            </li>
        </ul>
    </p>
    <p>

        <h3><b>Preventions:-</b></h3>
        <ul>
            <li>
                Don’t smoke
            </li>
            <li>
                Don’t use alcohol
            </li>
            <li>
                There is no sure way to prevent pancreatic cancer. Some risk factors such as age, gender, race, and family history can’t be controlled. But there are things you can do that might lower your risk.
            </li>
        </ul>
    </p>
  


  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}