{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/panc.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
  
    <p>
        <h3><b>Types of pancreatic cancer</b></h3>
        Pancreatic cancer is a disease in which healthy cells in the pancreas stop working correctly and grow out of control. These cancerous cells can build up and form a mass called a tumor. A cancerous tumor is malignant, meaning it can grow and spread to other parts of the body. As it grows, a pancreatic tumor can affect the function of the pancreas, grow into nearby blood vessels and organs, and eventually spread to other parts of the body through a process called metastasis.

        <h3><b>Exocrine tumors.</b></h3> <br>  
         These are the most common type of pancreatic cancer. Most people refer to this type of cancer simply as pancreatic cancer. The most common type of exocrine tumor is adenocarcinoma. These tumors usually start in the ducts of the pancreas, called ductal adenocarcinoma. Much less commonly, if the tumor begins in the acini, it is called acinar adenocarcinoma.


        <h3><b> Endocrine tumors.</b></h3> <br> 
        These are also called pancreatic neuroendocrine tumors (PNETs) or islet cell tumors. They are much less common than exocrine tumors, making up about 7% of all pancreatic cancers. This type of tumor is very different than what most people refer to as pancreatic cancer. A pancreatic neuroendocrine tumor can be functioning or nonfunctioning. A functioning tumor makes hormones. A nonfunctioning tumor does not make hormones. A functioning neuroendocrine tumor is named based on the hormone the cells normally make<br>
        


    </p>
  
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}