{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/panc.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        <b>Pancretic Cancer: Introduction</b>
        The pancreas is a pear-shaped gland located in the center of the abdomen between the stomach and the spine. It is made up of 2 major components:<br>

        <b></b>The exocrine </b>component is made up of ducts and small sacs called acini on the end of the ducts. This part of the pancreas makes specialized proteins called enzymes that are released into the small intestine to help the body digest and break down food, particularly fats.
        
        <b>The endocrine</b> component is made up of cells lumped together in different locations within this part of the pancreas, called islets of Langerhans. These cells make specific hormones, the most important of which is insulin. Insulin is the substance that helps control the amount of sugar in the blood. This portion of the pancreas also makes other hormones, such as glucagon, somatostatin, pancreatic polypeptide (PP), and vasoactive intestinal peptide (VIP). Each of these hormones plays an important role in regulating the body’s metabolism.
    </p>
  
    
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}