{% extends 'home.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-3">
<div class="clearfix">
    <img src="/panc.jpg" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  

    <p>
       <h2> <b>Pancreatic Cancer : Symptoms and Signs</b> </h2>
       People with pancreatic cancer may experience the following symptoms or signs. A symptom is something that only the person experiencing it can identify and describe, such as fatigue, nausea, or pain. A sign is something that other people can identify and measure, such as a fever, rash, or an elevated pulse. Together, signs and symptoms can help describe a medical problem. Sometimes, people with pancreatic cancer do not have any of the signs and symptoms described below. Or, the cause of a symptom or sign may be a medical condition that is not cancer.
            <br>
        

    <ul>
        <h3><b>Other symptoms of Pancreatic cancer:</b></h3>
        <li> Yellow skin (including yellowing of the gums and inner lips) and/or eyes, darkening of the urine, itching, and clay-colored stool, which are signs of jaundice caused by a blockage of the bile ducts</li>
        
        <li> Pain in the upper abdomen, upper back, or arms

        </li>
        
        <li> Painful swelling of an arm or leg due to a blood clot</li>
        
        <li> Burning feeling in the stomach or other gastrointestinal discomforts



        </li>
        
        <li>
            Floating stools with a particularly bad odor and an unusual color due to the body not digesting fats well


        </li>

        <li>
            Weakness,

Loss of appetite,

Nausea and vomiting,

Chills and sweats,

Fever,

Unexplained weight loss
        </li>
    </ul>
        
    
    </p>
  </div>
</div>










<img src="/test.png" alt="Paris" class="center ">
    

{% endblock %}